<mat-card>
  <mat-card-title >Bem vindo ao SAN</mat-card-title>
<mat-card-content>
<form #form="ngForm">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Login" name="login" [(ngModel)]="login" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" required matInput placeholder="Senha" [(ngModel)]="senha">
  </mat-form-field>
</p>


<div class="button">
  <button mat-raised-button (click)="fazerLogin()" color="primary" [disabled]="!form.valid">Login</button>
</div>

<div class="button">
  <button mat-button (click)="esqueciMinhaSenha()" color="primary">Esqueci minha senha</button>
  <button mat-button (click)="primeiroAcesso()" color="primary">Primeiro acesso</button>
</div>

</form>
</mat-card-content>
</mat-card>
