<form #form="ngForm">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Dados do aluno</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Nome completo" [(ngModel)]="nome" name="nome" required />
        </mat-form-field>
        <mat-form-field>
          <input maxlength="14" (blur)="formatarCpf()" matInput [(ngModel)]="cpf" placeholder="CPF" name="cpf" required />
        </mat-form-field>
        <mat-form-field>
          <input (blur)="verificarEmail()" matInput [(ngModel)]="email" type="email" placeholder="Email" name="email" required />
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.valid" (click)="salvar()"  mat-raised-button color="primary">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>
